/* BEGIN MODEL */
.contain {
  width: 460px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
.body {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 2;
}
.bikinitop {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 4;
}

.bikinibottom {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 3;
}

.model {
  width: 55px;
  height: 76px;
  position: absolute;
  top: 3.5%;
  left: 45%;
  z-index: 2;
  transform: scale(0.9);
}

.feetleft {
  width: 25px;
  height: 41px;
  position: absolute;
  bottom: 6.5%;
  left: 40.4%;
  z-index: 2;
}

.feetright {
  width: 25px;
  height: 41px;
  position: absolute;
  bottom: 6.5%;
  right: 33.3%;
  z-index: 2;
}

/* END MODEL */
.feetStyle {
  width: 500px;
  height: 1000px;
  position: absolute;
  bottom: -40%;
  right: -3.5%;
  transform: scale(0.5);
  z-index: 2;
}
.handbagStyle {
  width: 500px;
  height: 1000px;
  position: absolute;
  bottom: -40.5%;
  right: -3.5%;
  transform: scale(0.5);
  z-index: 5;
}

.hairStyle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -74.4%;
  right: -59%;
  transform: scale(0.19);
  z-index: 1;
}

.backgroundStyle {
  width: 900px;
  height: 1500px;
  position: absolute;
  bottom: -90%;
  right: -50%;
  transform: scale(0.5);
  z-index: 0;
}
